Web References/TiempoAire/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ventatelcel.com/ws/nusoap" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ventatelcel.com/ws/nusoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ventatelcel.com/ws/nusoap">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ObtenSaldoRequest">
    <wsdl:part name="cadena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ObtenSaldoResponse">
    <wsdl:part name="return1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PaquetesRequest">
    <wsdl:part name="cadena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PaquetesResponse">
    <wsdl:part name="resultado" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RecargaEWSRequest">
    <wsdl:part name="cadena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RecargaEWSResponse">
    <wsdl:part name="resultado" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="VerificaRecargaRequest">
    <wsdl:part name="cadena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="VerificaRecargaResponse">
    <wsdl:part name="resultado" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ApplicationServicesPortType">
    <wsdl:operation name="ObtenSaldo">
      <wsdl:input message="tns:ObtenSaldoRequest" />
      <wsdl:output message="tns:ObtenSaldoResponse" />
    </wsdl:operation>
    <wsdl:operation name="Paquetes">
      <wsdl:input message="tns:PaquetesRequest" />
      <wsdl:output message="tns:PaquetesResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecargaEWS">
      <wsdl:input message="tns:RecargaEWSRequest" />
      <wsdl:output message="tns:RecargaEWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="VerificaRecarga">
      <wsdl:input message="tns:VerificaRecargaRequest" />
      <wsdl:output message="tns:VerificaRecargaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationServicesBinding" type="tns:ApplicationServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ObtenSaldo">
      <soap:operation soapAction="https://www.ventatelcel.com/ws/index.php/ObtenSaldo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paquetes">
      <soap:operation soapAction="https://www.ventatelcel.com/ws/index.php/Paquetes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecargaEWS">
      <soap:operation soapAction="https://www.ventatelcel.com/ws/index.php/RecargaEWS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaRecarga">
      <soap:operation soapAction="https://www.ventatelcel.com/ws/index.php/VerificaRecarga" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ventatelcel.com/ws/nusoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationServices">
    <wsdl:port name="ApplicationServicesPort" binding="tns:ApplicationServicesBinding">
      <soap:address location="https://www.ventatelcel.com:443/ws/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>